table
    margin: 0 auto
    cursor: pointer
    margin-bottom: 1rem

.table-responsive
    overflow-x: auto
    width: 100%

.spinner
    min-height: 100px

@media screen and (max-width: 1024px)
    .searchbar
        padding: 2rem
        width: 90%

@media screen and (min-width: 1024px)
    .searchbar
        width: 50%
        margin: auto
