<app-menubar></app-menubar>
<div class="container">
    <h1 class="title has-text-centered">Tabla de tiempo</h1>
    <div class="card box">
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <strong>Fecha inicial: </strong>
                    <mat-form-field>
                        <input matInput [matDatepicker]="initDatePicker"  [formControl]="initDate">
                        <mat-datepicker-toggle matSuffix [for]="initDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #initDatePicker></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="column">
                    <strong>Fecha final: </strong>
                    <mat-form-field>
                        <input matInput [matDatepicker]="finalDatePicker" [formControl]="finalDate">
                        <mat-datepicker-toggle matSuffix [for]="finalDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #finalDatePicker></mat-datepicker>
                      </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin: 1em 0;">
        <header class="card-header">
            <h2 class="title card-header-title">Calendario</h2>
          </header>
        <div class="card-content" style="overflow: scroll; height: 80vh;" >
                <ngx-spinner
                bdOpacity = 0.9
                bdColor = "#fff"
                size = "medium"
                color = "#00d1b2"
                type = "ball-scale-ripple-multiple"
                [fullScreen] = "false"
                >
                </ngx-spinner>
            <div class="schedule" aria-labelledby="schedule-heading" *ngIf="showTimeable">
                
                <span class="track-slot" aria-hidden="true" *ngFor="let date of dateList; let i = index" style="grid-column: {{i+2}}; grid-row: 1;">{{formatDate(date)}}</span>
                <h2 class="time-slot" style="grid-row: time-0000;">00h00</h2>
                <h2 class="time-slot" style="grid-row: time-0030;">00h30</h2>
                <h2 class="time-slot" style="grid-row: time-0100;">01h00</h2>
                <h2 class="time-slot" style="grid-row: time-0130;">01h30</h2>
                <h2 class="time-slot" style="grid-row: time-0200;">02h00</h2>
                <h2 class="time-slot" style="grid-row: time-0230;">02h30</h2>
                <h2 class="time-slot" style="grid-row: time-0300;">03h00</h2>
                <h2 class="time-slot" style="grid-row: time-0330;">03h30</h2>
                <h2 class="time-slot" style="grid-row: time-0400;">04h00</h2>
                <h2 class="time-slot" style="grid-row: time-0430;">04h30</h2>
                <h2 class="time-slot" style="grid-row: time-0500;">05h00</h2>
                <h2 class="time-slot" style="grid-row: time-0530;">05h30</h2>
                <h2 class="time-slot" style="grid-row: time-0600;">06h00</h2>
                <h2 class="time-slot" style="grid-row: time-0630;">06h30</h2>
                <h2 class="time-slot" style="grid-row: time-0700;">07h00</h2>
                <h2 class="time-slot" style="grid-row: time-0730;">07h30</h2>
                <h2 class="time-slot" style="grid-row: time-0800;">08h00</h2>
                <h2 class="time-slot" style="grid-row: time-0830;">08h30</h2>
                <h2 class="time-slot" style="grid-row: time-0900;">09h00</h2>
                <h2 class="time-slot" style="grid-row: time-0930;">09h30</h2>
                <h2 class="time-slot" style="grid-row: time-1000;">10h00</h2>
                <h2 class="time-slot" style="grid-row: time-1030;">10h30</h2>
                <h2 class="time-slot" style="grid-row: time-1100;">11h00</h2>
                <h2 class="time-slot" style="grid-row: time-1130;">11h30</h2>
                <h2 class="time-slot" style="grid-row: time-1200;">12h00</h2>
                <h2 class="time-slot" style="grid-row: time-1230;">12h30</h2>
                <h2 class="time-slot" style="grid-row: time-1300;">13h00</h2>
                <h2 class="time-slot" style="grid-row: time-1330;">13h30</h2>
                <h2 class="time-slot" style="grid-row: time-1400;">14h00</h2>
                <h2 class="time-slot" style="grid-row: time-1430;">14h30</h2>
                <h2 class="time-slot" style="grid-row: time-1500;">15h00</h2>
                <h2 class="time-slot" style="grid-row: time-1530;">15h30</h2>
                <h2 class="time-slot" style="grid-row: time-1600;">16h00</h2>
                <h2 class="time-slot" style="grid-row: time-1630;">16h30</h2>
                <h2 class="time-slot" style="grid-row: time-1700;">17h00</h2>
                <h2 class="time-slot" style="grid-row: time-1730;">17h30</h2>
                <h2 class="time-slot" style="grid-row: time-1800;">18h00</h2>
                <h2 class="time-slot" style="grid-row: time-1830;">18h30</h2>
                <h2 class="time-slot" style="grid-row: time-1900;">19h00</h2>
                <h2 class="time-slot" style="grid-row: time-1930;">19h30</h2>
                <h2 class="time-slot" style="grid-row: time-2000;">20h00</h2>
                <h2 class="time-slot" style="grid-row: time-2030;">20h30</h2>
                <h2 class="time-slot" style="grid-row: time-2100;">21h00</h2>
                <h2 class="time-slot" style="grid-row: time-2130;">21h30</h2>
                <h2 class="time-slot" style="grid-row: time-2200;">22h00</h2>
                <h2 class="time-slot" style="grid-row: time-2230;">22h30</h2>
                <h2 class="time-slot" style="grid-row: time-2300;">23h00</h2>
                <h2 class="time-slot" style="grid-row: time-2330;">23h30</h2>
                
                <div *ngFor="let task of timetableResult" class="session" [style.backgroundColor]="task.color" style="grid-column: {{task.dayStart+2}}; grid-row: {{task.startFormat}} / {{task.finishFormat}};"  (mouseover)="task.showDetail=true" (mouseout)="task.showDetail=false">
                    <h3 class="session-title"><a  [routerLink]="['/task', task?._id]">{{task.name}}</a></h3>
                    <span class="session-time">{{task.startTime}} - {{task.endTime}}</span>
                    <div class="over-detail" *ngIf="task.showDetail" >
                        <span class="detail-title">Detalle de tareas</span>
                        <div class="detail-task">
                       <b>{{task.name}}</b>
                       <br>
                       <b>Hora: </b>
                       <br>

                        {{task.startTime}} - {{task.endTime}}
                       </div>
                        <div  *ngFor="let moreTask of task.tasks"  class="detail-task">
                            <b>{{task.name}}</b>
                            <br>
                       <b>Hora: </b>
                       <br>
                        {{moreTask.startTime}} - {{moreTask.endTime}}
                       </div>
                    </div>
                </div>
        </div>              
        </div>
    </div>

</div>
