<app-menubar></app-menubar>
<div class="container">
  <h1 class="title has-text-centered"> Detalle de colaborador</h1>
  <div class="card">
    <header class="card-header">
      <h2 class="title card-header-title" style="margin: 0;">
        {{user?.firstname}} {{user?.lastname}}
      </h2>
      <div class="dropdown is-right is-active">
        <div class="dropdown-trigger">
          <a class="primary" (click)="userClick()" aria-haspopup="true" aria-controls="dropdown-menu6">
            <p style="margin: 1em;">
              <i class="fas fa-ellipsis-v"></i>
            </p>
          </a>
        </div>
        <div class="dropdown-menu" *ngIf="userExpander == true" id="dropdown-menu6" role="menu">
          <div class="dropdown-content">
            <a [routerLink]="['/user/edit', user?._id]" class="dropdown-item">
              Editar colaboraor
            </a>
          </div>
          <div class="dropdown-content">
            <a class="dropdown-item" (click)="sendPasswordRecovery()">
              Enviar cambio de contraseña
            </a>
          </div>
          <div class="dropdown-content">
            <a class="dropdown-item" (click)="removeUser()">
              Eliminar colaboraor
            </a>
          </div>
          <div class="dropdown-content" *ngIf="!user?.isAdmin" >
            <a class="dropdown-item" (click)="makeAdmin(true)">
              Asignar como administrador
            </a>
          </div>
          <div class="dropdown-content" *ngIf="user?.isAdmin" >
            <a class="dropdown-item" (click)="makeAdmin(false)">
              Quitar como administrador
            </a>
          </div>
        </div>
      </div>


    </header>
    <div class="card-content">
      <div class="columns">
        <div class="column">

          <span *ngIf="user?.isAdmin" class="tag is-primary">Administrador</span>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <strong>Correo electrónico: </strong>{{user?.email}}
        </div>
        <div class="column">
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <strong>Departamento: </strong>{{user?.department}}
        </div>
        <div class="column">
          <strong>Posición: </strong>{{user?.position}}

        </div>
      </div>
      <div class="columns">
        <div class="column">
          <a *ngIf="user" [routerLink]="['/user/timetable', user?._id]" class="button"><i class="fas fa-calendar-alt" style="margin: 0 0.5em; color: #ff3860;"></i> Tabla de tiempo</a>
        </div>
      </div>

    </div>
  </div>

  <nav class="level is-mobile" style="margin:3em 2em">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Hoy</p>
        <p class="title" id="todayTime">{{formatTime(todayTime)}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Semana</p>
        <p class="title" id="weekTime">{{formatTime(weekTime)}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tareas</p>
        <p class="title" id="tasksNumber">{{total}}</p>
      </div>
    </div>
  </nav>
  <div class="card">
    <header class="card-header">
      <h2 class="title card-header-title">Tareas</h2>

    </header>
    <div class="card-content">
      <div class="table-responsive">
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tiempo</th>
              <th>Creada</th>
              <th>Última modificación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of showTasks">
              <td (click)="onClickTask(task?._id)">{{task.name}}</td>
              <td (click)="onClickTask(task?._id)">{{formatTime(task.time)}}</td>
              <td (click)="onClickTask(task?._id)">{{formatDate(task.createdAt)}}</td>
              <td (click)="onClickTask(task?._id)">{{formatDate(task.updatedAt)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <footer class="card-footer">
      <a (click)="clickActivateTasks()" [class.is-active]="activateTasks" class="card-footer-item">Activas</a>
      <a (click)="clickArchiveTasks()" [class.is-active]="!activateTasks" class="card-footer-item">Archivadas</a>
    </footer>
  </div>
  <div class="card">
    <header class="card-header">
        <h2 class="title card-header-title">Calendario</h2>
      </header>
    <div class="card-content" style="overflow: scroll; height: 80vh;" >
        <div class="schedule" aria-labelledby="schedule-heading" >
            
            <span class="track-slot" aria-hidden="true" *ngFor="let date of dateList; let i = index" style="grid-column: {{i+2}}; grid-row: 1;">{{formatDateShort(date)}}</span>
            <h2 class="time-slot" style="grid-row: time-0000;">00h00</h2>
            <h2 class="time-slot" style="grid-row: time-0030;">00h30</h2>
            <h2 class="time-slot" style="grid-row: time-0100;">01h00</h2>
            <h2 class="time-slot" style="grid-row: time-0130;">01h30</h2>
            <h2 class="time-slot" style="grid-row: time-0200;">02h00</h2>
            <h2 class="time-slot" style="grid-row: time-0230;">02h30</h2>
            <h2 class="time-slot" style="grid-row: time-0300;">03h00</h2>
            <h2 class="time-slot" style="grid-row: time-0330;">03h30</h2>
            <h2 class="time-slot" style="grid-row: time-0400;">04h00</h2>
            <h2 class="time-slot" style="grid-row: time-0430;">04h30</h2>
            <h2 class="time-slot" style="grid-row: time-0500;">05h00</h2>
            <h2 class="time-slot" style="grid-row: time-0530;">05h30</h2>
            <h2 class="time-slot" style="grid-row: time-0600;">06h00</h2>
            <h2 class="time-slot" style="grid-row: time-0630;">06h30</h2>
            <h2 class="time-slot" style="grid-row: time-0700;">07h00</h2>
            <h2 class="time-slot" style="grid-row: time-0730;">07h30</h2>
            <h2 class="time-slot" style="grid-row: time-0800;">08h00</h2>
            <h2 class="time-slot" style="grid-row: time-0830;">08h30</h2>
            <h2 class="time-slot" style="grid-row: time-0900;">09h00</h2>
            <h2 class="time-slot" style="grid-row: time-0930;">09h30</h2>
            <h2 class="time-slot" style="grid-row: time-1000;">10h00</h2>
            <h2 class="time-slot" style="grid-row: time-1030;">10h30</h2>
            <h2 class="time-slot" style="grid-row: time-1100;">11h00</h2>
            <h2 class="time-slot" style="grid-row: time-1130;">11h30</h2>
            <h2 class="time-slot" style="grid-row: time-1200;">12h00</h2>
            <h2 class="time-slot" style="grid-row: time-1230;">12h30</h2>
            <h2 class="time-slot" style="grid-row: time-1300;">13h00</h2>
            <h2 class="time-slot" style="grid-row: time-1330;">13h30</h2>
            <h2 class="time-slot" style="grid-row: time-1400;">14h00</h2>
            <h2 class="time-slot" style="grid-row: time-1430;">14h30</h2>
            <h2 class="time-slot" style="grid-row: time-1500;">15h00</h2>
            <h2 class="time-slot" style="grid-row: time-1530;">15h30</h2>
            <h2 class="time-slot" style="grid-row: time-1600;">16h00</h2>
            <h2 class="time-slot" style="grid-row: time-1630;">16h30</h2>
            <h2 class="time-slot" style="grid-row: time-1700;">17h00</h2>
            <h2 class="time-slot" style="grid-row: time-1730;">17h30</h2>
            <h2 class="time-slot" style="grid-row: time-1800;">18h00</h2>
            <h2 class="time-slot" style="grid-row: time-1830;">18h30</h2>
            <h2 class="time-slot" style="grid-row: time-1900;">19h00</h2>
            <h2 class="time-slot" style="grid-row: time-1930;">19h30</h2>
            <h2 class="time-slot" style="grid-row: time-2000;">20h00</h2>
            <h2 class="time-slot" style="grid-row: time-2030;">20h30</h2>
            <h2 class="time-slot" style="grid-row: time-2100;">21h00</h2>
            <h2 class="time-slot" style="grid-row: time-2130;">21h30</h2>
            <h2 class="time-slot" style="grid-row: time-2200;">22h00</h2>
            <h2 class="time-slot" style="grid-row: time-2230;">22h30</h2>
            <h2 class="time-slot" style="grid-row: time-2300;">23h00</h2>
            <h2 class="time-slot" style="grid-row: time-2330;">23h30</h2>
            
            <div *ngFor="let task of timetableResult" class="session" [style.backgroundColor]="task.color" style="grid-column: {{task.dayStart+2}}; grid-row: {{task.startFormat}} / {{task.finishFormat}};"  (mouseover)="task.showDetail=true" (mouseout)="task.showDetail=false">
                <h3 class="session-title"><a  [routerLink]="['/task', task?._id]">{{task.name}}</a></h3>
                <span class="session-time">{{task.startTime}} - {{task.endTime}}</span>
                <div class="over-detail" *ngIf="task.showDetail" >
                    <span class="detail-title">Detalle de tareas</span>
                    <div class="detail-task">
                   <b>{{task.name}}</b>
                   <br>
                   <b>Hora: </b>
                   <br>

                    {{task.startTime}} - {{task.endTime}}
                   </div>
                    <div  *ngFor="let moreTask of task.tasks"  class="detail-task">
                        <b>{{task.name}}</b>
                        <br>
                   <b>Hora: </b>
                   <br>
                    {{moreTask.startTime}} - {{moreTask.endTime}}
                   </div>
                </div>
            </div>
    </div>              
    </div>
</div>

</div>