<app-menubar></app-menubar>
<div class="container">
    <div class="columns is-desktop">
        <div (click)="goAddUser()" class="column has-text-centered bg-primary menu-item">
            <p><span class="icon is-small is-left">
                    <i class="fas fa-plus fa-3x"></i>
                </span></p>
            Añadir colaborador
        </div>
        <div (click)="goUserList()" class="column has-text-centered bg-primary menu-item">
            <p><span class="icon is-small is-left">
                    <i class="fas fa-list-alt fa-3x"></i>
                </span></p>Lista de colaboradores
        </div>
    </div>
    <div class="columns is-desktop">
        <div (click)="goReports()" class="column has-text-centered bg-primary menu-item" style="display: none;">
            <p><span class="icon is-small is-left">
                    <i class="fas fa-chart-line fa-3x"></i>
                </span></p>Reportes
        </div>
        <div (click)="goConfiguration()" class="column has-text-centered bg-primary menu-item">
            <p><span class="icon is-small is-left">
                <i class="fas fa-cogs fa-3x"></i>
                </span></p>Configuración
        </div>
    </div>
</div>

